
%d-flex {
  display: flex;
}

%d-inline-flex {
  display: inline-flex;
}

%f-align-center {
  align-items: center;
}

%f-justify-center {
  justify-content: center;
}

%f-justify-space-between {
  justify-content: space-between;
}
