

html {
  font-size: 14px;
  @media (min-width: 768px) and (max-width: 1600px) {
    font-size: 16px;
  }
  @media (min-width: 1601px) {
    font-size: 18px;
  }
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  overflow-x: hidden;
}
