@font-face {
  font-family: 'GeekyAnts';
  src:  url('../fonts/geeky-ants.eot?3binj');
  src:  url('../fonts/geeky-ants.eot?3binj#iefix') format('embedded-opentype'),
    url('../fonts/geeky-ants.ttf?3binj') format('truetype'),
    url('../fonts/geeky-ants.woff?3binj') format('woff'),
    url('../fonts/geeky-ants.svg?3binj#geeky-ants') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
