// variable , fonts and media query ranges



:root {
  --theme-gradient:linear-gradient(to bottom,#3940FF 40%,#55B2FF);
  --theme-secondary-color:#FBFAFE;
  --theme-font-color-light:#D0D3D9;
  --theme-font-color-dark:#424145;

}
