.app-column {
  height: 100vh;
  padding:0.8rem;
  @media (min-width: 768px) {
    padding:0;
  }
  &:first-child {
    background:var(--theme-gradient);
  }
}

.app-holder {
  & > .row:not(#a) {
    margin:0;
  }
}
