.app-top-action {
  margin-bottom:2rem;
  @extend %d-flex;
  @extend %f-align-center;
  @extend %f-justify-space-between;
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .action-btn {
    display: inline-block;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background:#00C7B3;
  }
}
