.app-top-action {
  margin-bottom:2rem;
  @extend %d-flex;
  @extend %f-align-center;
  @extend %f-justify-space-between;
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .action-btn {
    display: inline-block;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background:#00C7B3;
    text-decoration: none;
    text-align: center;
    &:before {
      font-family: 'GeekyAnts';
      font-size:1.2rem;
      color:#fff;
      line-height: 3rem;
      content:"\e90e";

    }
  }

  .m-actions {

    .action-btn {
      background: transparent;
      width:2rem;
      height:2rem;
      &:before {
        color:#000;
        line-height: 2rem;
      }
      &:nth-child(1):before {
        content:"\e903";
      }
      &:nth-child(2):before {
        content:"\e901";
      }
      & + .action-btn {
        margin-left:0.8rem;
      }
    }
  }
}

.m-top {
  margin-top:2rem;
  @media (min-width: 1024px) {
    margin-top:0;
  }
}
